bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea

PerformanceOptimization.Mapper.TwoArrays/BenchmarkDotNet.Artifacts/*
!PerformanceOptimization.Mapper.TwoArrays/BenchmarkDotNet.Artifacts/results/
